.noise {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  z-index: 100;

  &::after {
    content: "";
    height: 300%;
    width: 300%;
    background-image: url("../../assets/noise.jpg");
    left: -50%;
    opacity: 0.07;
    position: fixed;
    top: -110%;
    animation: grain 8s steps(10) infinite;
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
